<div class="back-img">
<div class="banner">
  <div class="container">
    <h1>Welcome to Think-Peaks</h1>
      <p>Set and track your
        <%= link_to goals_path do %>
          <button type="button" class="btn btn-warning">Goals</button>
        <% end %>
</div>
        <p class="banner-attribution">Photo by Jeremy Bishop on Unsplash</p>
</div>
</div>
