<div class="back-img">
<div class="banner">
  <div class="container">
    <h1>Welcome to Goal tracker</h1>
</div>
</div>
<div class="container" style="height:600px;">
      <p>set and track your
        <%= link_to goals_path do %>
          <button type="button" class="btn btn-warning">Goals</button>
        <% end %>
      </p>
    </div>
</div>
