.goals_tracker-parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 16px;
  }

.goals_tracker-parent .goals-ongoing { grid-area: 1 / 1 / 2 / 5; }
.goals_tracker-parent .goals-completed { grid-area: 2 / 1 / 3 / 5; }
.goals_tracker-parent .goals-progress {
  grid-area: 1 / 5 / 2 / 6;
  text-align: center;
  position: sticky;
  top: 0;}
