.navbar-goaltrk {
  justify-content: space-between;
  // background: var(--bs-primary);
  // color: var(--bs-body-color);
}

.navbar-goaltrk .navbar-collapse {
  flex-grow: 0;
}

.navbar-goaltrk .navbar-brand img {
  width: 40px;
}

.navbar-menu{
  display: flex;
  justify-content: space-between;
}
