<div class="goal-card-small justify-content-between">

  <div class="d-flex justify-content-start" >
    <div class="row justify-content-start">
       <div class ="col-8 width-450">
        <h3><b><%= goal.title %></b></h3>
        <h3><b><%= goal.user.email %></b></h3>
        <h3><b><%= goal.completed %></b></h3>
        </div>
    </div>
  </div>
</div>
