<p>
  <a class="btn btn-warning" data-bs-toggle="collapse" href="#collapseTracker" role="button" aria-expanded="false" aria-controls="collapseTracker">
    Track <i class="fa-solid fa-list-check"></i>
  </a>
</p>
  <div class="collapse" id="collapseTracker">
    <div class="">
      <ul class="list-group" , style="border-radius: 2rem;">
<li class="list-group-item list-group-item-primary""> Goals Reached / Total (%)</li>
  <% goals.pluck(:category).uniq.each do |cat| %>
  <li class="list-group-item">
    <%= cat %>:
      <div><%= completed_goals.where(category: cat).size %> / <%= goals.where(category: cat).size %>
       (<%= (completed_goals.where(category: cat).size.to_f  /  goals.where(category: cat).size.to_f * 100).to_i %> %)</div>
  </li>
  <% end %>
</ul>
 </div>
  </div>
