<div class="container">
  <h1>Index page</h1>
    <div class= "goal-card-flex container">
      <% @goals.each do |goal| %>

    <% if goal.user == current_user %>
     <h2>Your goal:</h2>
          <%= render 'goals/card', goal: goal %>
      <% else %>
        <h2>Suggestion:</h2>
          <%= render 'goals/card', goal: goal %>
      <% end %>
    <% end %>
    </div>

</div>
