<div class="container mt-3">
  <h1>Index page</h1>
        <h1>
        <%= link_to new_goal_path do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
        </h1>
      <div class="row">
      <% @goals.each do |goal| %>
        <div class="col">
          <% if goal.user == current_user %>
            <%= render 'goals/card', goal: goal %>
          <% else %>
            <%= render 'goals/card', goal: goal %>
          <% end %>
      </div>
      <% end %>
</div>
</div>
