<div class="back-img">
<div class="container p-5 mt-3" style ="background-color:rgba(255, 255, 255, 0.8);">
  <h2> Add a new goal
    <%= link_to new_goal_path do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </h2>
    <h1>Your current goals:</h1>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% if @goals.where(completed:false).size > 0 %>
          <% @goals.each do |goal| %>
          <div class="col">
              <% if goal.completed != true %>
                <%= render 'goals/card', goal: goal %>
              <% end %>
          </div>
          <% end %>
        <% else %>
          <h2>No current goals</h2>
        <% end %>
      </div>
      <h1>Your completed goals:</h1>
        <% if @goals.where(completed:true).size > 0 %>
          <div class="row row-cols-1 row-cols-md-3 g-4">
          <% @goals.each do |goal| %>
            <div class="col">
                <% if goal.completed == true %>
                  <%= render 'goals/card_completed', goal: goal %>
                <% end %>
            </div>
          <% end %>
        <% else %>
          <h2>No completed goals</h2>
        <% end %>
</div>
</div>
</div>
