<div class="back-img">
<div class="container p-5 mt-3" style ="background-color:rgba(255, 255, 255, 0.8);">
  <h2> Add a new goal

        <%= link_to new_goal_path do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </h2>
  <div class="goals_tracker-parent">
    <div class="goals-ongoing">
      <div class="title">Your current goals:</div>
        <%= render 'goals/card', goals: @ongoing_goals %>
    </div>
    <div class="goals-completed">
          <div class="title">Your completed goals:</div>
            <%= render 'goals/card', goals: @completed_goals %>
    </div>
    <div class="goals-progress">
  <div class="title"><i class="fa-solid fa-list-check"></i> </div>
  <%= render 'goals/table', goals: @goals, completed_goals: @completed_goals %>
  </div>
</div>
</div>
</div>
